<div class="cv">
  <section class="leftSiteWrapper">
    <section class="contactInfo">
      <div class="contactBox">
        <img class="contactImg" src="assets/images/phone.webp" alt="phone">
        <a class="contactText" href="tel:+48664599088">+48 664 599 088</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/mail.webp" alt="phone">
        <a class="contactText" href="mailto:j.j.horbacz@gmail.com">j.j.horbacz&#64;gmail.com</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/city.webp" alt="city">
        <a class="contactText" href="https://www.google.com/maps/place/Lublin" target="_blank">Lublin</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/linkedin.webp" alt="linkedin">
        <a class="contactText" href="https://www.linkedin.com/in/jjhorbacz/"
          target="_blank">linkedin.com/in/jjhorbacz</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/github.webp" alt="github">
        <a class="contactText" href="https://github.com/Xedilius" target="_blank">github.com/Xedilius</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/site.webp" alt="site">
        <a class="contactText" href="https://www.cybermat.pl/projekty/" target="_blank">cybermat.pl/projekty</a>
      </div>
    </section>
    <section class="educationInfo">
      <h2>Education</h2>
      <hr>
      <p><strong>University of Technology, Lublin</strong></p>
      <p><strong>Master of Science, Mechatronics</strong></p>
      <p>2014-2019</p>
    </section>
    <section class="skillsInfo">
      <h2>Skills</h2>
      <hr>
      <p>HTML</p>
      <p>CSS/SCSS/LESS</p>
      <p>JavaScript</p>
      <p>Angular</p>
      <p>Git</p>
    </section>
    <section class="languageInfo">
      <h2>Language</h2>
      <hr>
      <p>Polish - native</p>
      <p>English - B2</p>
      <p>German - basic</p>
    </section>
  </section>
  <section class="rightSiteWrapper">
    <div class="employmentHistory">
      <h2>Employment history</h2>
      <hr>
      <p class="workingTime">March 2022 - present</p>
      <h3 class="workingPlace">MINTI sp. z o.o.</h3>
      <div class="workingDuties">
        <p>Web developer. Employee of a two-person IT team in a company running international e-commerce in the beauty
          industry. My duties included:</p>
        <ul>
          <li>preparation of landing pages of the mintishop.pl online store,</li>
          <li>implementation of scripts supporting the operation of the store,</li>
          <li>database processing, ongoing updates of the appearance and operation of the store, </li>
          <li>cooperation with an SEO agency,</li>
          <li>preparation of many Allegro auctions via baselinker.</li>
        </ul>
      </div>
      <!--  <hr class="worksSlicer"> -->
      <p class="workingTime">December 2019 - March 2022</p>
      <h3 class="workingPlace">Dieseltechnika sp. z o.o.</h3>
      <div class="workingDuties">
        <p>Head of IT department I led a two-person team responsible for planning and developing the company's IT
          activities.<br> My duties included:</p>
        <ul>
          <li>planning and preparing the graphic design of the store based on shoper.pl,</li>
          <li>managing the company's e-commerce,</li>
          <li>contact with developers,</li>
          <li>planning additional functions of the implemented Navireo database software,</li>
          <li>SEO
            optimization of the dieseltechnika.com website,</li>
          <li>preparing many auctions via baselinker,</li>
          <li>network and IT equipment
            management.</li>
        </ul>
      </div>
      <div class="vl"></div>
      <span class="dot"></span>
      <span id="dot1" class="dot"></span>
      <span id="dot2" class="dot"></span>
    </div>
    <div class="rodo">
      <hr>
      <div class="rodoTextWprapper">
        <p>I agree to the processing of personal data provided in this document for realizing the recruitment process
          pursuant to the Personal Data Protection Act of 10 May 2018 (Journal of Laws 2018,item 1000) and in agreement
          with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection
          of natural persons with regard to the processing of personal data and on the free movement of such data, and
          repealing Directive 95/46/EC (General Data Protection Regulation).</p>
      </div>
    </div>
  </section>
  <section class="nameWrapper">
    <h1>Jakub Horbacz</h1>
  </section>
</div>